@using System.Security.Claims
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css"rel="stylesheet"/>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="topnav">
@if (User.Identity.IsAuthenticated)
{
    var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
    int roleid = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "roleid").Value);
    int userid = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "id").Value);
    string email = (identity.Claims.FirstOrDefault(c => c.Type == "email").Value);
    if (roleid == 1 || roleid == 2)
    {
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Serie" asp-action="List" asp-route-category="All Series">Series</a>
        <a asp-controller="WatchList" asp-action="Index" asp-route-userid="@userid">Watchlist</a>
        <div class="topnav-right">
            <a asp-controller="Profile" asp-action="Profile" asp-route-email="@email">@User.Identity.Name</a>
            <a asp-controller="Logout" asp-action="Index">Logout</a>
        </div>
    }

}
else
{
    <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Serie" asp-action="List">Series</a>
        <a asp-controller="Login" asp-action="Login">Login</a>
        <a asp-controller="Register" asp-action="Register">Register</a>


}
    </div>
    



    @*<div class="navbar">
        @if (User.Identity.IsAuthenticated)
        {
            var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
            int roleid = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "roleid").Value);
            int userid = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "id").Value);
            string email = (identity.Claims.FirstOrDefault(c => c.Type == "email").Value);
            if (roleid == 1 || roleid == 2)
            {
                <ul>

                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Serie" asp-action="List" asp-route-category="All Series">Series</a></li>
                    <li><a asp-controller="WatchList" asp-action="Index" asp-route-userid="@userid">Watchlist</a></li>
                    <li class="profile"><a asp-controller="Profile" asp-action="Profile" asp-route-email="@email" class="navbar-btn btn btn-primary">@User.Identity.Name</a></li>
                    <li class="logout"><a asp-controller="Logout" asp-action="Index">Logout</a></li>

                    
                </ul>

            }

            

        }
        else
        {
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Serie" asp-action="List">Series</a></li>
                <li><a asp-controller="Login" asp-action="Login">Login</a></li>
                <li><a asp-controller="Register" asp-action="Register">Register</a></li>
            </ul>

        }

        </div>*@
    <br />
        <div>
            @RenderBody()
        </div>
</body>
</html>
