@using Models

@model WatchListViewModel

<h1 style="text-align:center">My WatchList</h1><br />
<h1 style="text-align:left">Status:</h1>
<div class="legendatextred">
    <p>Dropped=</p>
</div>
<div class="legendatextgreen">
    <p>Watching=</p>
</div>
<div class="legendatextyellow">
    <p>On-Hold=</p>
</div>
<div class="legendatextblue">
    <p>Completed=</p>
</div>
<div class="legendatextgrey">
    <p>Plan to Watch=</p>
</div>
<br />

<div class="legenda">
   
    <div>
        <div class='box red'></div>
    </div>

    <div>
        <div class='box green'></div>
    </div>

    <div>
        <div class='box yellow'></div>
    </div>

    <div>
        <div class='box blue'></div>
    </div>

    <div>
        <div class='box grey'></div>
    </div>
</div>

<br /><br /><br />
<div class="container watchlist">
    <h1 style="float:left">Series on WatchList:</h1><br /><br /><br />
    @{
        foreach (var serie in Model.Series)
        {
            if (serie.Status == "Completed")
            {

                <p class="list-group-item list-group-item-info">Serie Name: "@serie.Name" Episodes Seen: "@serie.EpisodesSeen" You gave this serie a @serie.Rating/10 <a asp-controller="WatchList" asp-action="DeleteSerie" asp-route-serieid="@serie.SerieId" asp-route-userid="@serie.User.Id">Delete Serie From WatchList</a></p>

            }
            else if (serie.Status == "Watching")
            {

                <p class="list-group-item list-group-item-success">Serie Name: "@serie.Name" Episodes Seen: "@serie.EpisodesSeen" You gave this serie a @serie.Rating/10  <a asp-controller="WatchList" asp-action="DeleteSerie" asp-route-serieid="@serie.SerieId" asp-route-userid="@serie.User.Id">Delete Serie From WatchList</a></p>
            }
            else if (serie.Status == "Dropped")
            {

                <p class="list-group-item list-group-item-danger">Serie Name: "@serie.Name" Episodes Seen: "@serie.EpisodesSeen" You gave this serie a @serie.Rating/10   <a asp-controller="WatchList" asp-action="DeleteSerie" asp-route-serieid="@serie.SerieId" asp-route-userid="@serie.User.Id">Delete Serie From WatchList</a></p>
            }
            else if (serie.Status == "On-Hold")
            {

                <p class="list-group-item list-group-item-warning">Serie Name: "@serie.Name" Episodes Seen: "@serie.EpisodesSeen" You gave this serie a @serie.Rating/10  <a asp-controller="WatchList" asp-action="DeleteSerie" asp-route-serieid="@serie.SerieId" asp-route-userid="@serie.User.Id">Delete Serie From WatchList</a></p>
            }
            else if (serie.Status == "Plan to Watch")
            {

                <p class="list-group-item list-group-item-dark">Serie Name: "@serie.Name" Episodes Seen: "@serie.EpisodesSeen" You gave this serie a @serie.Rating/10  <a asp-controller="WatchList" asp-action="DeleteSerie" asp-route-serieid="@serie.SerieId" asp-route-userid="@serie.User.Id">Delete Serie From WatchList</a></p>
            }

        }
    }
</div>
