
@model RecommendationViewModel

<script type="text/javascript">
        $(document).ready(function () {
            $('#serieid2').click(function () {
                var serieid2 = $('#name').val();
                document.getElementById("test").value = serieid2;
                var seriename = $('#name option:selected').text();
                document.getElementById("showname").value = seriename;
            });
        });
</script>



<div class="container">
    <h1 class="my-4">
        Recommendations
    </h1>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
        <button type="button" style="float:right" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#myModal">Add Recommendation</button>
        }
        <div class="card-deck">
           @{ 
              
               foreach (var recommendation in Model.GetRecommendations)
               {

                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h3>@recommendation.Name</h3>
                            <p>@recommendation.Description</p>
                            <a class="btn btn-primary" asp-controller="SeriePage" asp-action="Page" asp-route-id="@recommendation.Serie2.Id">Go to serie page!</a>
                            @*<p>This Serie is recommenden by ... users</p>*@
                        </div>
                    </div>
                            <hr>

                   }


               }


        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
        int id = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "id").Value);
    <form asp-action="Recommendation" asp-controller="Recommendation" method="post">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Recommendation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Serie Name:</p>
                        <select id="name">
                            
                            @foreach (var seriename in Model.GetSerieNames)
                            {
                                <option value="@seriename.Id">@seriename.Name </option>



                            }

                        </select>
                        <br /><br />
                        <p>Why do you recommend this serie?:</p> <br />
                            <input type="text" asp-for="@Model.CreateRecommendation.Description" class="recommendationtext" required /> <br> <br />               
                        <input type="text" asp-for="@Model.CreateRecommendation.Userid" value="@id" readonly hidden /> <br>
                           <input type="text" asp-for="@Model.CreateRecommendation.Serie1.Id" value="@Model.Serieid" readonly hidden /> <br>
                        <input type="text" asp-for="@Model.CreateRecommendation.Name" id="showname"  readonly hidden /> <br>
                            <input type="text" asp-for="@Model.CreateRecommendation.Serie2.Id"  id="test" readonly hidden /> <br>

                        </div>
   
                       <div class="modal-footer">
                        <input type="submit" value="Create" class="btn btn-primary" id="serieid2" />
                    </div>
                </div>

            </div>
        </div>
    </form>
    }
    
</div>
