@model SeriePageViewModel
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    @*<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@

    <!-- Custom styles for this template -->
    @*<link href="css/shop-item.css" rel="stylesheet">*@

</head>

<body>
    
        <!-- Navigation -->
        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-lg-3">
                    <h1 class="my-4">@Model.SelectedSerie.name</h1>
                    <div class="list-group">
                        <a asp-controller="Episode" asp-action="Episode"  asp-route-serieid="@Model.SelectedSerie.id"  class="list-group-item">Episodes</a>
                        <a href="#" class="list-group-item">Category 2</a>
                        <a href="#" class="list-group-item">Category 3</a>
                        <button type="button" class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">

                    <div class="card mt-4">
                        <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Product Name</h3>
                            <h4>$24.99</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                            4.0 stars
                        </div>
                    </div>
                    <!-- /.card -->

                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Product Reviews
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal2">Leave a Review</a>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col-lg-9 -->

            </div>

        </div>
    <form asp-action="Index" asp-controller="WatchList" method="post">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <input asp-for="@Model.WatchList.Serie.Id" value="@Model.SelectedSerie.id" readonly hidden /><br />
                        Name: <input asp-for="@Model.WatchList.Serie.Name" value="@Model.SelectedSerie.name" readonly /><br />
                        Status: <input type="text" asp-for="@Model.WatchList.Serie.Status" /> <br>
                        Episodes Seen: <input type="number" asp-for="@Model.WatchList.Serie.EpisodesSeen" /> <br>
                        Rating: <input type="number" asp-for="@Model.WatchList.Serie.Rating" min="1" max="5" /> <br>
                        <input type="number" asp-for="@Model.WatchList.Serie.UserId" readonly hidden /> <br>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
        </form>
        <form asp-action="Page" asp-controller="Serie" asp-route-id="@Model.SendReview" method="post">
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <input asp-for="@Model.SendReview.Serieid" value="@Model.SelectedSerie.id" hidden />

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Write a review</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" asp-for="@Model.SendReview.Reviewtext" class="reviewtext"><br>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            @*<a class="btn btn-primary" asp-controller="Serie" asp-action="Review" asp-route-id="@Model.SendReview">Go</a>*@
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container -->
            <!-- Footer -->
        </form>

</body>

</html>
