@model WatchListViewModel
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

   

</head>

<body>
 
    @{
        var serie1 = Model.MostPopularSeries.FirstOrDefault();
        var serie2 = Model.MostPopularSeries.ElementAt(1);
        var serie3 = Model.MostPopularSeries.ElementAt(2);
        var serie4 = Model.MostPopularSeries.ElementAt(3);

    }
    <h1>Welcome to MySerieList</h1>
   
    <!-- Navigation -->
   
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row my-4">
            <div class="col-lg-8">
                <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <h1>The most popular serie on MySerieList is: @serie1.name</h1>
                <p>@serie1.description</p>
                <a class="btn btn-danger navbar-btn" href="#">Go to serie page!</a>
            </div>
            <!-- /.col-md-4 -->
        </div><br /><br />
        <!-- /.row -->
        <!-- Call to Action Well -->
       
        <h1>Most popular series</h1>
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">@serie2.name</h2>
                        <p class="card-text">@serie2.description</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-danger navbar-btn">Go to serie page!</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">@serie3.name</h2>
                        <p class="card-text">@serie3.description</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-danger navbar-btn">Go to serie page!</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">@serie4.name</h2>
                        <p class="card-text">@serie4.description</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-danger navbar-btn">Go to serie page!</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
   

</body>

</html>
